<h1><%= @contact[:name]%></h1><span class ="right-assign">

<%= button_to "delete", @contact, :method => :delete %>
<%= link_to("Edit Details", edit_phonebook_path)%></span>

<p>Mobile/Extensions</p>
<p>
	<ul>
		<% mobiles = @contact.mobiles%>
		<% mobiles.each do |mobile|%>
		<li><%= mobile.details%> <%= mobile.mtype%></li>
		<% end %>
	</ul>
</p>

<p>Emails</p>
<p>
	<ul>
		<% emails = @contact.emails%>
		<% emails.each do |email|%>
		<li><%= email.address%></li>
		<% end %>
	</ul>
</p>
<%= link_to "My Contacts", phonebook_path %>