<h1><%= @contact[:name]%></h1><span class ="right-assign">

<%= button_to "delete", @contact, :method => :delete %>
<%= link_to("Edit Details", edit_phonebook_path)%></span>

<strong><p><h3>Mobile/Extensions</h3></p></strong>
<p>
	<ul>
		<% mobiles = @contact.mobiles%>
		<% mobiles.each do |mobile|%>
		<li><%= mobile.details%> <%= mobile.mtype%></li>
		<% end %>
	</ul>
</p>

<strong><p><h3>Emails</h3></p></strong>
<p>
	<ul>
		<% emails = @contact.emails%>
		<% emails.each do |email|%>
		<li><%= email.address%></li>
		<% end %>
	</ul>
</p>

<strong><p><h3>Connections</h3></p></strong>
<% if !@contact[:fb].blank? %>
	<strong><p>Facebook-id</p></strong> 
	<p><%= @contact[:fb] %></p>
<% end %>

<% if !@contact[:google_plus].blank? %>
	<strong><p>Google + </p></strong>
	<p><%= @contact[:google_plus] %></p>
<% end %>

<% if !@contact[:twitter].blank? %>
	<strong><p>Twitter</p></strong>
	<p><%= @contact[:twitter] %></p>
<% end %>

<% if !@contact[:github].blank? %>
	<strong><p>Github</p></strong>
	<p><%= @contact[:github] %></p>
<% end %>

	
		<% connnection = @contact.other_connections%>
		<% connnection.each do |connnection|%>
			<strong><p><%= connnection[:connection_type] %></p></strong>
			<p><%= connnection[:connection_detail] %></p>
		<% end %>

	


<%= link_to "My Contacts", phonebook_path %>