<h1><%= @contact[:name]%></h1><span class ="right-assign">

<%= button_to "delete", @contact, :method => :delete %>
<%= link_to("Edit Details", edit_phonebook_path)%></span>
<div class = "continer">
	<%= render :partial=>"mobile_views"%>
	<%= render :partial=>"email_views" %>
	<%= render :partial =>"connection_views"%>
	
		
	<%= link_to "My Contacts", phonebook_path %>
</div>