<div class ="fields">
    <%= f.label :connection_type%>
    <%= f.text_field :connection_type %>
    <%= f.hidden_field :_destroy %>
    <%= f.label :connection_details%>
    <%= f.text_field :connection_detail %>
   	<%= link_to_remove_fields "remove", f%>
    </br>
</div>