

<% form_for :contact, @contact, :url=> {:action => :update},:html => { :method => :put }do |f| %>

  <%= f.error_messages %>

  <p class = "right-assign">
  <button type="button" class="btn btn-primary btn-lg fixed" data-toggle="modal" data-target="#myModal">
  Add Connections
  </button>

  <%= render 'contacts/modal_moreConnection'%>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <%= f.label :mobiles %><br />
  <div class="fields">
    
    <% f.fields_for :mobiles do |builder| %>
      <div class ="fields">
        <%= builder.select :mtype,options_for_select([["HOME", "HOME"], ["WORK", "WORK"],["OTHER", "OTHER"]], :selected => builder.object[:mtype])  %>
        <%= builder.text_field :details %>
        <%= link_to_remove_fields "remove", builder%>
        </br>
      </div>

    <% end %>
      <%= link_to_add_fields "Add more", f, :mobiles%>
    

  </div><!-- -div ends -->
  <%= f.label :emails %><br />
  <div class="fields">
    
    <% f.fields_for :emails do |builder| %>
      <div class ="fields">
        <%= builder.text_field :address %>
        <%= builder.hidden_field :_destroy %>
        <%= link_to_remove_fields "remove", builder%>
        </br>
      </div>
    <% end %>
    <%= link_to_add_fields "Add more", f, :emails%>
  </div>


  <span id="facebook-field" >
    <p class = "fields">
      <%= f.label :fb, 'Facebook' %><br />
      <%= f.text_field :fb %>
      <%= link_to_function "remove","fbremove()",:id=>"fb-remove"%>
    </p>
  </span>
  <script>
    jQuery('#facebook-field').hide();
  </script>

  <span id="twitter-field" >
    <p class = "fields">
      <%= f.label :twitter, 'Twitter' %><br />
      <%= f.text_field :twitter %>
      <%= link_to_function "remove","twremove()",:id=>"fb-remove"%>
    </p>
  </span>
  <script>
   jQuery('#twitter-field').hide();
  </script>

  <span id="google-field" >
    <p class = "fields">
      <%= f.label :google_plus, 'Google +' %><br />
      <%= f.text_field :google_plus %>
      <%= link_to_function "remove","glremove()",:id=>"fb-remove"%>
    </p>
  </span>
  <script>
   jQuery('#google-field').hide();
  </script>

  <span id="github-field" >
    <p class = "fields">
      <%= f.label :github, 'Github' %><br />
      <%= f.text_field :github %>
      <%= link_to_function "remove","gitremove()",:id=>"fb-remove"%>
    </p>
  </span>
  <script>
   jQuery('#github-field').hide();
  </script>


  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>
<%= javascript_include_tag "custom"%>