
<h1>Create a new Contact</h1>
<h2>Add details</h2>
<% form_for(@contact) do |f| %>
	<%= f.error_messages %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <%= f.label :mobiles %><br />
  <div class="fields">
  	
    <% f.fields_for :mobiles do |ff| %>
  		<div class ="field">
    		<%= ff.select :mtype,options_for_select([["HOME", "H"], ["WORK", "W"],["OTHER", "O"]])%>
   	 		<%= ff.text_field :details %>
   	 		<%= link_to_remove_fields "remove", ff%>
   	 		</br>
  		</div>

  	<% end %>
      <%= link_to_add_fields "Add more", f, :mobiles%>
  	

  </div>
  <div class="fields">
    <%= f.label :emails %><br />
    <% f.fields_for :emails do |fff| %>
  		<div class ="fields">
   	 		<%= fff.text_field :address %>
   	 		<%= fff.hidden_field :_destroy %>
   	 		<%= link_to_remove_fields "remove", fff%>
   	 		</br>
  		</div>
  	<% end %>
  </div>
  <div class="actions">
    <%= f.submit "Add Contact" %>
  </div>
<% end %>
<%= javascript_include_tag "custom"%>

